* {
    font-family: monospace, monospace;
}

main {
    position: relative;
}

/** Custom Footer **/
.custom-footer {
    margin-left: 0 !important;
    margin-bottom: 20px;
}

/** App Footer **/
.app-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-top: 80px;
    right: 0;
    padding: 20px;
    height: 60px;
    border-top: 1px solid #e9e9e9;
}

/** Scrollbar **/
*::-webkit-scrollbar {
    background-color: #fff;
    height: 4px;
    width: 12px;
}

*::-webkit-scrollbar-track {
    background-color: #fff
}

*::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 4px
}

nav a.button-collapse, nav a.button-collapse i {
    color: #3a3a3a !important;
    font-size: 0.6em;
}

/** Scrollspy **/
ul.col.s12.l3.hide-on-med-and-down.section.table-of-contents.pinned {
    padding: 68px;
    padding-top: 0px;
}


/** Sidenav **/
.side-nav a {
    height: 40px;
    padding-left: 32px;
}

.side-nav li {
    line-height: 40px;
}

.side-nav li.active, .side-nav li:hover {
    background: #f3f5ff;
}

.side-nav li.active a {
    color: #3f51b5;
}

/** Header **/
nav .nav-wrapper ul a.btn span {
    line-height: 60px;
}

/** Search **/
#app-container .search-result a {
    padding-left: 60px;
    height: 40px;
    line-height: 40px;
}

#app-container .input-field.inline-search {
    right: 30%;
}

/** Code **/
pre {
    padding-top: 32px !important;
    border: 1px solid #e9e9e9;
    background-color: #f2f9ff !important;
    position: relative;
}

pre.java:before,
pre.xml:before {
    content: "java";
    position: absolute;
    top: 0px;
    text-transform: uppercase;
    font-size: 0.8em;
    background: #64b5f6;
    left: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
}

pre.xml:before {
    content: "xml";
}

/** SEARCH **/
#app-container .input-field.inline-search {
    overflow: unset;
}

#app-container .inline-search .search-result {
    display: block;
}

/** TAB **/
.tab-content {
    height: 200px;
    background: #e9e9e9;
    text-align: center;
    font-size: 2em;
    padding-top: 60px !important;
}

@media screen and (max-width: 600px) {
    .app-header,
    .app-container {
        padding: 12px !important;
    }

    .dashboard-row .card {
        height: 100px !important;
    }
}

@media screen and (max-width: 425px) {
    .video-row .card {
        height: 246px;
    }
}

@media screen and (max-width: 375px) {
    .video-row .card {
        height: 208px;
    }
}

@media screen and (max-width: 320px) {
    .video-row .card {
        height: 180px;
    }
}


/**TODO: Dark Mode **/
body {
    background-color: #292929;
    color: #ffffff;
}

/** Others **/
.app-header {
    border-bottom: 1px solid rgb(49, 49, 49) !important;
}

.app-footer {
    border-top: 1px solid rgb(49, 49, 49) !important;
}

.tab-content {
    background: transparent;
}

/** Pre **/
pre {
    border: 1px solid #1e1e1e;
    background-color: #1e1e1e !important;
}

pre.java:before, pre.xml:before {
    background: #2d2d2d;
}

/** Header **/
nav,
nav .nav-wrapper {
    background-color: #272727;
}

/** Scrollbar **/
*::-webkit-scrollbar {
    background-color: #1e1e1e;
    height: 2px;
    width: 8px;
}

*::-webkit-scrollbar-thumb {
    background-color: #464646;
    border-radius: 4px;
}

*::-webkit-scrollbar-track {
    background-color: #2e2e2e;
}

/** Label **/
.card .secondary-label,
.secondary-label {
    color: rgba(255, 255, 255, 0.6);
}

/** Button **/
.btn, .btn-large,
.btn:hover, .btn-large:hover {
    background-color: #bb86fc;
    color: #000;
}

button.btn-outlined,
button.btn-outlined:hover,
button.btn-outlined:focus,
button.btn-outlined:active {
    background-color: transparent;
    border: 1px solid #bb86fc;
    color: rgb(187, 134, 252);
}

button.btn.btn-outlined.disabled {
    color: rgba(187, 134, 252, 0.4) !important;
}

.btn.disabled, .disabled.btn-large, .btn-floating.disabled, .btn-large.disabled, .btn:disabled, .btn-large:disabled, .btn-large:disabled, .btn-floating:disabled {
    background-color: #bb86fc !important;
    color: rgba(0, 0, 0, 0.7) !important;
    opacity: 0.4;
}

.btn-floating.disabled i {
    color: rgba(0, 0, 0, 0.7) !important;
}

.btn-flat {
    color: #bb86fc;
}

.btn-flat.disabled {
    color: rgba(187, 134, 252, 0.3) !important;
    background: transparent !important;
}

/** Card **/
.card {
    background-color: #1e1e1e;
    color: white;
}

.card span {
    color: white;
}

.card .card-action span,
.card .card-action i {
    color: #BB86FC;
}

.card .collection {
    border: none;
}

.card .collection .collection-item {
    background-color: #2b2b2b;
}

.card .collection .collection-item span {
    color: #ffffff;
}

/** Check Box **/
[type="checkbox"].filled-in:checked + label:after {
    border: 2px solid #BB86FC;
    background-color: #BB86FC;
}

[type="checkbox"].filled-in:checked + label:before {
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
}

[type="checkbox"]:checked + label:before {
    border-right: 2px solid #BB86FC;
    border-bottom: 2px solid #BB86FC;
}

/** Chips **/
.chip {
    background: #2f2f2f;
    color: #ffffff;
}

.chip.outlined, .chip.outlined:hover, .chip.outlined:active, .chip.outlined:focus {
    background-color: transparent;
    border: 1px solid #4c4c4ce9;
}

/** Collapsible **/
.collapsible {
    border-top: 1px solid #2f2f2f;
    border-right: 1px solid #2f2f2f;
    border-left: 1px solid #2f2f2f;
}

.collapsible-header {
    background-color: #2f2f2f;
    border-bottom: 1px solid #2f2f2f;
}

.collapsible-header a {
    color: #ffffff !important;
}

.collapsible-body {
    background: #353535;
    border-bottom: 1px solid #2f2f2f;
}

/** Collection **/
.collection .collection-item,
.collection.with-header .collection-header {
    background-color: #2f2f2f;
    border-bottom: 1px solid #353535;
}

.collection {
    border: 1px solid #2f2f2f;
}

.collection .collection-item a {
    color: #ffffff !important;
}

.collection .collection-item.active {
    background-color: #39353e;
    color: #a87be0;
}

/** Date Picker **/
.picker__weekday-display {
    background-color: #141414;
}

.picker__box {
    background: #2e3033;
    border: 1px solid #1e1f22;
    border-top-color: #141414;
}

.picker__date-display {
    background-color: #1e1f22;
}

.picker__header {
    color: rgba(255, 255, 255, 0.6);
}

.picker__day--selected.picker__day--outfocus, .picker__day--selected:hover.picker__day--outfocus, .picker--focused .picker__day--selected.picker__day--outfocus,
.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected, .picker__day.picker__day--today.picker__day--selected {
    background-color: #bb86fc;
    color: black;
}

.picker__day--infocus:hover:not(.picker__day--selected) {
    color: rgba(166, 121, 222, 0.5);
}

.picker__day.picker__day--today {
    color: #b080ed;
}

.picker__nav--prev:hover, .picker__nav--next:hover {
    background: #2e3033;
}

/** Dialog **/
.modal,
.modal .modal-footer {
    background-color: #383838;
}

/** Dropdown **/
.dropdown-content {
    background-color: #2f2f2f;
}

.dropdown-content a,
.dropdown-content span,
.dropdown-content i {
    color: #ffffff !important;
}

.dropdown-content li:hover, .dropdown-content li.active, .dropdown-content li.selected {
    background-color: #353535;
}

/** Footer **/
footer.page-footer {
    background-color: #2f2f2f;
}

footer.page-footer .footer-copyright {
    background-color: rgb(39, 39, 39);
}

/** List Box **/
.dropdown-content li.active.selected {
    background-color: #1e1e1e;
}

/** Loader **/
.loader-wrapper {
    background: rgba(0, 0, 0, 0.701961);
}

.spinner-layer {
    border-color: #BB86FC !important;
}

/** Progress **/
.progress {
    background: #4c3f5b;
}

.progress .determinate,
.progress .indeterminate {
    background: #bb86fc;
}

/** Radio Button **/
[type="radio"].with-gap:checked + label:after,
[type="radio"]:checked + label:after {
    border: 2px solid #BB86FC;
    background-color: #BB86FC;
}

[type="radio"].with-gap:checked + label:before {
    border: 2px solid #BB86FC;
}

[type="radio"]:disabled + label {
    color: rgba(179, 179, 179, 0.26);
}

[type="radio"]:disabled:not(:checked) + label:before {
    border-color: rgba(150, 150, 150, 0.26);
}

/** Search **/
.light.input-field.inline-search {
    background: #2f2f2f;
}

.light.input-field.inline-search input[type=search]:focus {
    background: #484848;
}

.input-field.inline-search input {
    color: #ffffff;
}

.search-result {
    border-top: none;
}

/** Range **/
input[type=range] {
    border: none;
}

input[type=range]::-webkit-slider-thumb {
    background: #BB86FC;
}

input[type=range]::-webkit-slider-runnable-track,
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #4c3f5b;
}


input[type=range] + .thumb {
    background-color: #BB86FC;
}

input[type=range] + .thumb .value {
    color: #000000 !important;
}

/** Side Nav **/
ul.side-nav {
    background-color: #2e2e2e;
}

ul.side-nav li a span {
    color: rgba(255, 255, 255, 0.9);
}

ul.side-nav li.active,
ul.side-nav li:hover {
    background-color: rgba(187, 134, 252, 0.08);
}

ul.side-nav li.active a span,
ul.side-nav li:hover a span {
    color: rgb(187, 134, 252);
}

/** Switch **/
.switch label input[type=checkbox]:checked + .lever {
    background: #604c79;
}

input[type=checkbox]:checked:not(:disabled) ~ .lever:active:after {
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, .4), 0 0 0 15px rgba(187, 134, 252, 0.1);
}

.switch label input[type=checkbox]:checked + .lever:after {
    background: rgb(187, 134, 252);
}

.switch.disabled {
    opacity: 0.4;
}

/** Tabs **/
.tabs {
    background: #272727;
}

.tabs .tab a {
    color: rgb(187, 134, 252);
}

.tabs .indicator {
    background: rgb(187, 134, 252);
}

/** Toast **/
.toast {
    background: #e4e4e4;
    color: #000000;
}

.toast a {
    color: rgb(187, 134, 252);
}

/** Tooltip **/
.material-tooltip {
    color: #212121;
    background: #aaaaaa !important;
}

.material-tooltip .backdrop {
    background: #aaaaaa;
}

/** Scrollspy **/
.table-of-contents a.active {
    border-left: 2px solid #bb86fc !important;
}

.table-of-contents a:hover {
    border-left: 1px solid #bb86fc !important;
}

.table-of-contents a {
    color: rgba(255, 255, 255, 0.6);
}

.table-of-contents a:hover {
    color: rgba(255, 255, 255, 1);
}