* {
    font-family: monospace,monospace;
}

/** Scrollbar **/
*::-webkit-scrollbar {
    background-color: #fff;
    height: 4px;
    width: 12px;
}

*::-webkit-scrollbar-track {
    background-color: #fff
}

*::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 4px
}

pre {
    font-size: 1em;
    background: #f0f5fe;
    padding: 20px;
    white-space: pre !important;
}

 nav a.button-collapse, nav a.button-collapse i {
    color: #3a3a3a !important;
    font-size: 0.6em;
}

/** Scrollspy **/
ul.col.s12.l3.hide-on-med-and-down.section.table-of-contents.pinned {
    padding: 68px;
    padding-top: 0px;
}

/** Sidenav **/
.side-nav a {
    height: 40px;
    padding-left: 32px;
}

.side-nav li {
    line-height: 40px;
}

.side-nav li.active,.side-nav li:hover {
    background: #f3f5ff;
}

.side-nav li.active a {
    color: #3f51b5;
}

/** Header **/
nav .nav-wrapper ul a.btn span {
    line-height: 60px;
}

/** Search **/
#app-container .search-result a {
    padding-left: 60px;
    height: 40px;
    line-height: 40px;
}

#app-container .input-field.inline-search {
    right: 30%;
}

/** Code **/
pre {
    background: #f3f5ff;
    padding: 20px;
    white-space: pre-line;
    opacity: 0.8;
    font-size: 0.8em;
}

@media screen and (max-width: 600px) {
    .card .card-content {
        min-height: 360px;
        height: unset !important;
    }
}