* {
    font-family: monospace, monospace;
}

main {
    position: relative;
}

/** Custom Footer **/
.custom-footer {
    margin-left: 0 !important;
    margin-bottom: 20px;
}

/** App Footer **/
.app-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-top: 80px;
    right: 0;
    padding: 20px;
    height: 60px;
    border-top: 1px solid #e9e9e9;
}

/** Scrollbar **/
*::-webkit-scrollbar {
    background-color: #fff;
    height: 4px;
    width: 12px;
}

*::-webkit-scrollbar-track {
    background-color: #fff
}

*::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 4px
}

nav a.button-collapse, nav a.button-collapse i {
    color: #3a3a3a !important;
    font-size: 0.6em;
}

/** Scrollspy **/
ul.col.s12.l3.hide-on-med-and-down.section.table-of-contents.pinned {
    padding: 68px;
    padding-top: 0px;
}

/** Sidenav **/
.side-nav a {
    height: 40px;
    padding-left: 32px;
}

.side-nav li {
    line-height: 40px;
}

.side-nav li.active, .side-nav li:hover {
    background: #f3f5ff;
}

.side-nav li.active a {
    color: #3f51b5;
}

/** Header **/
nav .nav-wrapper ul a.btn span {
    line-height: 60px;
}

/** Search **/
#app-container .search-result a {
    padding-left: 60px;
    height: 40px;
    line-height: 40px;
}

#app-container .input-field.inline-search {
    right: 30%;
}

/** Code **/
pre {
    padding-top: 32px !important;
    border: 1px solid #e9e9e9;
    background-color: #f2f9ff !important;
    position: relative;
}

pre.java:before,
pre.xml:before {
    content: "java";
    position: absolute;
    top: 0px;
    text-transform: uppercase;
    font-size: 0.8em;
    background: #64b5f6;
    left: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
}

pre.xml:before {
    content: "xml";
}

/** SEARCH **/
#app-container .input-field.inline-search {
    overflow: unset;
}

#app-container .inline-search .search-result {
    display: block;
}

/** TAB **/
.tab-content {
    height: 200px;
    background: #e9e9e9;
    text-align: center;
    font-size: 2em;
    padding-top: 60px !important;
}

@media screen and (max-width: 600px) {
    .card .card-content {
        min-height: 360px;
        height: unset !important;
    }
}